:root{
  --primary-color: #008ac1;
  --primary-white: #ffffff;
  --secondary-color: #f7b33d;
  --error: #ff3939;
}

h1{
  color: var(--primary-white);
}

.App {
  text-align: center;
}

.error{
  color: var(--error);
  margin-bottom: 10px;
}